<!DOCTYPE html>
<html>
	<head>
		<title>Joao Rodo{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8" >
		{% block css %}
			<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
			<link href="/static/css/style.css" rel="stylesheet" media="screen">
		{% endblock %}
	</head>
	<body>
		<div id="wrap">
			<nav class="navbar navbar-static-top" role="navigation">
				<div class="container-fluid">
					{% block header %}
						<a href="{{ urlFor('index') }}" class="navbar-brand"><img src="/static/img/logo.png"></a>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{{ urlFor('pricing') }}">Pricing</a></li>
							<li><a href="{{ urlFor('projects') }}">Projects</a></li>
							<li><a href="{{ urlFor('contact') }}">Contact</a></li>
						</ul>
					{% endblock %}
				</div>
			</nav>

			<div class="container-fluid">
				{% block content %}
				{% endblock %}
			</div>
		</div>

		{% block script %}
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			<script src="/static/js/bootstrap.min.js"></script>
			<script type="text/javascript">
				$(document).ready(function(){
					$(".nav li a").each(function(index){
						if($(this).attr('href') == window.location.pathname){
							$(this).parent().addClass("active").siblings();
						}
					});
				});
			</script>
		{% endblock %}
	</body>
</html>
