@import url('style.css');

#projects-list {
    font-family: 'aaux_officebold';
    list-style: none;
    margin-left: 30px;
}

.project-item {
    text-transform: uppercase;
}

.project-item > a {
    color: white;
    font-size: 25px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
}

.project-item > a:hover {
    color: #b70f0f;
}

textarea {
    width: 80%;
}