{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="span4 header">
        <h2 class="upper"><span class="highlight">Packages</span> for Games</h2>
    </div>
    <div class="span8">
        <img src="/static/img/pricing_banner.png" class="banner">
    </div>
</div>
<div class="row" id="content">
    <div class="span3">
        <h3>Starter <small>(60&euro; EUR / 65$ USD)*</small></h3>
        <h4>Features</h4>
        <ul class="features plusses highlight">
            <li>Branding design</li>
            <li>Original files</li>
            <li>Manual</li>
        </ul>
    </div>
    <div class="span3">
        <h3>Streamer <small>(80&euro; EUR / 100$ USD)*</small></h3>
        <h4>Features</h4>
        <ul class="features plusses highlight">
            <li>Branding design</li>
            <li>Original files</li>
            <li>Manual</li>
        </ul>
        <ul class="features plusses highlight">
            <li>Twitch page <small>(complete)</small></li>
            <li>Social media <small>(facebook + twitter)</small></li>
        </ul>
    </div>
    <div class="span3">
        <h3>YouTuber <small>(80&euro; EUR / 100$ USD)*</small></h3>
        <h4>Features</h4>
        <ul class="features plusses highlight">
            <li>Branding design</li>
            <li>Original files</li>
            <li>Manual</li>
        </ul>
        <ul class="features plusses highlight">
            <li>YouTube page <small>(avatar, banner/background, video thumb)</small></li>
            <li>Social media <small>(facebook + twitter)</small></li>
        </ul>
    </div>
    <div class="span3">
        <h3>All Rounder <small>(120&euro; EUR / 155$ USD)*</small></h3>
        <h4>Features</h4>
        <ul class="features plusses highlight">
            <li>Branding design</li>
            <li>Original files</li>
            <li>Manual</li>
        </ul>
        <ul class="features plusses highlight">
            <li>YouTube page <small>(avatar, banner/background, video thumb)</small></li>
            <li>Twitch page <small>(complete)</small></li>
            <li>Social media <small>(facebook + twitter)</small></li>
        </ul>
    </div>
    <div class="span12">
        <ul class="asterisks">
            <li>All packages have a 3-month support range.</li>
            <li>Packages valid for gamers only. For businesses/companies, contact me via email.</li>
        </ul>
    </div>
</div>
{% endblock %}
