{% extends "base.html" %}

{% block css %}
{{ parent() }}
<style>
    body {
        background-image: url(../static/img/bg_pricing.png);
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-4 header">
        <h2 class="upper"><span class="highlight">Packages</span> for Games</h2>
    </div>
    <div class="col-xs-8">
        <img src="/static/img/pricing_banner.png" class="banner pull-right">
    </div>
</div>
<div class="row" id="content">
    <div class="col-md-3 package">
        <h3>Starter <small>(60&euro; EUR / 65$ USD)*</small></h3>
        <h4>Features</h4>
        <ul class="features plusses highlight">
            <li>Branding design</li>
            <li>Original files</li>
            <li>Manual</li>
        </ul>
    </div>
    <div class="col-md-3 package">
        <h3>Streamer <small>(80&euro; EUR / 100$ USD)*</small></h3>
        <h4>Features</h4>
        <ul class="features plusses highlight">
            <li>Branding design</li>
            <li>Original files</li>
            <li>Manual</li>
        </ul>
        <ul class="features plusses highlight">
            <li>Twitch page <small>(complete)</small></li>
            <li>Social media <small>(facebook + twitter)</small></li>
        </ul>
    </div>
    <div class="col-md-3 package">
        <h3>YouTuber <small>(80&euro; EUR / 100$ USD)*</small></h3>
        <h4>Features</h4>
        <ul class="features plusses highlight">
            <li>Branding design</li>
            <li>Original files</li>
            <li>Manual</li>
        </ul>
        <ul class="features plusses highlight">
            <li>YouTube page <small>(avatar, banner/background, video thumb)</small></li>
            <li>Social media <small>(facebook + twitter)</small></li>
        </ul>
    </div>
    <div class="col-md-3 package">
        <h3>All Rounder <small>(120&euro; EUR / 155$ USD)*</small></h3>
        <h4>Features</h4>
        <ul class="features plusses highlight">
            <li>Branding design</li>
            <li>Original files</li>
            <li>Manual</li>
        </ul>
        <ul class="features plusses highlight">
            <li>YouTube page <small>(avatar, banner/background, video thumb)</small></li>
            <li>Twitch page <small>(complete)</small></li>
            <li>Social media <small>(facebook + twitter)</small></li>
        </ul>
    </div>
    <div class="col-md-12">
        <ul class="asterisks">
            <li>All packages have a 3-month support range.</li>
            <li>Packages valid for gamers only. For businesses/companies, contact me via email.</li>
            <li>If you found what you were looking for go to the contact page and shoot me an email.</li>
        </ul>
    </div>
</div>
{% endblock %}
