{% extends "base.html" %}

{% block css %}
{{ parent() }}
<style>
    body {
        background-image: url(../static/img/bg_projects.png);
    }
</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-4 header">
            <h2 class="upper"><span class="highlight">Projects</span> Designed</h2>
        </div>
        <div class="col-xs-8">
            <img src="/static/img/projects_banner.png" class="banner">
        </div>
    </div>
    <div class="row" id="content">
        <div class="col-md-3" id="project-list">
            {% for project in projects %}
                <div class="project">
                    <a href="#" data-project="#{{ project.slug }}">
                        <img src="{{ project.sidebar_image }}">
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-offset-1 col-xs-8" id="project-content">
            {% for project in projects %}
                <div id="{{ project.slug }}" class="project-tab"{% if not forloop.first %} style="display: none"{% endif %}>
                    <div class="banner">
                        <img src="{{ project.large_image }}">
                    </div>
                    <div class="content">
                        {{ project.content_html|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
{{ parent() }}
<script type="text/javascript">
    $("#project-list > .project > a").click(function() {
        var $this = $(this);
        var id = $this.attr("data-project");
        var selected = $(id);
        $("#project-content > .project-tab").not(selected).hide();
        selected.show();
    });
</script>
{% endblock %}
